.add-student-main-wrapper{   
   .add-student-form{
      margin-top: 50px;

      .student-info{
         display: grid;
         grid-template-columns: 1fr 1fr;
   
         .text-inputs{
            display: flex;
            flex-direction: column;

            label{
               margin-left: 150px;
               color: $capri;
            }

            .new-entry-input {
               width: 400px;
               font-size: 1em;
               border: 1px solid $amethyst;
               padding: 10px 15px;
               border-radius: 5px;
               margin-bottom: 18px;
               margin-left: 150px;
             }
         }

         .radio-inputs{
            text-align: left;
            .radio{
               margin: 10px 0px;
      
               input[type="radio"] {
                  opacity: 0;
                  position: fixed;
                  width: 0px;
               }
      
               label {
                  display: inline-block;
                  background-color: $amethyst;
                  padding: 12px 60px;
                  font-size: 1.3em;
                  color: whitesmoke;
                  border: 1px solid $amethyst;
                  border-radius: 10px;
                  transition: 0.3s ease-in-out;
      
                  &:hover {
                     cursor: pointer;
                     background-color: $green-crayola;
                     border: 1px solid $green-crayola;
                   }
               }   
      
               input[type="radio"]:checked + label {
                  background-color: $capri;
                  border: 1px solid $capri;
               }
            }
         }
      }

      .btn-message{
         text-align: center;

         p{
            position: absolute;
            font-size: 1.2em;
            color: $capri;
         }

         .add-button{
            width: 438px;
            color: whitesmoke;
            background-color:  $magenta-crayola;
            border: 1px solid $magenta-crayola;
            border-radius: 5px;
            font-size: 1.2em;
            margin-top: 60px;
            padding: 8px 10px;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover{
               cursor: pointer;
               background-color: $amethyst;
               border: 1px solid $amethyst;
               outline: none;
            }
         }
      }
   }   
}