.home-main-wrapper{
   .navbar{
      background-color: $green-crayola;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-column{
         img{
            margin-left: 60px;
            height: 70px;
            width: 110px;
         }
      }

      .right-column{
         display: flex;
         justify-content: space-between;
         align-items: center;

         .auth{
            margin-right: 10px;

            a{
               text-decoration: none;
               color: $magenta-crayola;
               font-size: 1em;
               transition: 0.3s ease-in-out;

               &:hover{
                  color: #6b8a8b;
               }
            }
         }

         a{
            text-decoration: none;
            color: black;
            font-size: 1em;

            .sign-up{
               margin-left: 10px;
               margin-right: 20px;
               background-color: $magenta-crayola;
               color: whitesmoke;
               padding: 2px 4px;
               border-radius: 5px;
               transition: 0.3s ease-in-out;

               &:hover{
                  background-color: $amethyst;
               }

            }
         }
      }
   }   

   .content{
      margin-top: 50px;
      text-align: center;

      .logo{
         img{
            width: 680px;
            height: 500px;
         }
      }
   }
}