.home-main-wrapper{
   .navbar{
      height: 74px;
      background-color: $green-crayola;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-column{
         img{
            margin-left: 30px;
            height: 70px;
            width: 110px;
         }
      }

      .right-column{
         width: 172px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .auth{
            a{
               text-decoration: none;
               color: $magenta-crayola;
               font-size: 1.2em;
               transition: 0.3s ease-in-out;

               &:hover{
                  color: $amethyst;
               }
            }
         }

         .or{
            color: #148d9d;
            font-size: 1.1em;
         }

         a{
            text-decoration: none;            

            .sign-up{
               margin-right: 10px;
               background-color: $magenta-crayola;
               color: whitesmoke;
               padding: 5px 12px;
               border-radius: 5px;
               transition: 0.3s ease-in-out;

               p{
                  margin: 0px;
                  font-size: 1.2em;
               }

               &:hover{
                  background-color: $amethyst;
               }
            }
         }
      }
   }   

   .content{
      .title-image{
         background-image: url(../../static/assets/images/content/school.jpg);
         height: 60vh;      
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;  
         position: relative;
         box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      
         .title{         
            h1{
               color: $green-crayola; 
               font-size: 3em;
               position: relative;        
            }
         }
      }

      .info-app{
         text-align: center;
         padding: 0px 70px;
         padding-top: 12px;
         padding-bottom: 10px;

         h3{
            color: $magenta-crayola;
            font-size: 1.8em;
         }

         p{
            color: $capri;
            font-size: 1.2em;
         }
      }

      .logo-image{
         text-align: center;
         margin-bottom: 40px;

         img{
            height: 150px;
            width: 210px;
         }
      }
   }
}