@media screen and (max-width: 900px){

   // Home page
   .home-main-wrapper{
      .navbar{
         .left-column{
            img{
               margin-left: 10px;  
               height: 50px;
               width: 78px;             
            }
         }

         .right-column{
            width: 160px;
            a{
               font-size: 0.8em;
   
               .sign-up{
                  width: 52px;
                  margin-right: 10px;                  
                  padding: 0px 8px;   
               }
            }
         }
      }

      .content{   
         .logo{
            img{
               width: 380px;
               height: 250px;
            }
         }
      }
   }

   // Login
   .login-main-wrapper{
      .login-form-center{
         width: 100vw;
         height: calc(100vh - 150px);

         .login-container{
            height: 430px;
            width: 355px;

            .logo{
               margin-top: 10px;
   
               img{        
                  height: 90px;
                  width: 150px;
               }
            }     
            
            .title{
               font-size: 1.2em;
            }

            .login-form{   
               text-align: center;
               padding: 15px 2px;   
               
               .form-group{
                  .inputs{       
                     svg{
                        font-size: 1.4em;
                    }
         
                    input{
                       width: 280px;
                       height: 30px;            
                    }
                  }
               }

               .btn{                  
                  padding: 8px 100px;
               }
            }   
            
            .sign-up{               
               margin-top: 70px;

               a{
                  font-size: 0.8em;
               }
            }
         }
      }
   }

   // Sign up
   .signup-main-wrapper{  
      .have-an-account{  
         .title{
            width: 160px;
            p{
               font-size: 0.8em;
            }
         }

         .login-button{
            margin-left: 0px;
            padding: 2px 7px;
            font-size: 0.9em;
         }
      }

      .signup-form-wrapper{
         margin-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .left-side{
            .logo{
               img{        
                  height: 120px;
                  width: 200px;
               }
            }
         } 
         
         .right-side{
            .signup-form{
               .new-entry-input {
                  width: 330px;
               }

               .add-button{
                  width: 365px;
               }
            }
         }
      }
   }

   // Navigation bar
   .nav-wrapper{
      flex-direction: column;
      height: 100%;

      .left-column{
         a{
            img{
                margin-left: 0px;
            }
         }  
      }

      .center-column{
         flex-direction: column;
   
         .nav-link-wrapper{
            padding-right: 0px;
            margin-top: 5px;
            margin-bottom: 3px;
   
            a{
               
               font-size: 1em;
            }
         }
      }

      .right-column{
         margin-top: 6px;
         margin-right: 0px;
         width: 100%;
         font-size: 0.8em;

         .grade{
            margin-right: 0px;
         }     
   
         .username{
            margin-right: 0px;
         }
   
         .logout-icon{
            font-size: 1.8em;
         }
      }
   }

   // Teachers Container
   .grade-groups-main-wrapper{
      .teacher-info{
         padding: 5px 0px;

         p{
            font-size: 0.8em;
         }
      }

      .title{
         margin-top: 10px;
   
         p{
            font-size: 1.5em;
         }
      }
   }

   // Teachers Items
   .grades-groups-item-wrapper{   
      .grades-groups-links-wrapper{  
         margin-bottom: 5px;    

         a{  
            font-size: 2em; 
         }
      }
   }

   // Students container, Student Items
   .students-home-wrapper{
      .students-main-wrapper{
         .group-name-title{
            font-size: 1em;
         }

         .students-items-wrapper{
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;

            .students-item-wrapper{
               .student-image{
                  img{
                     width: 100px;
                     height: 100px;
                  }
               }

               .students-info-wrapper{            
                  .student-name{
                     p{
                        font-size: 1.1em;
                     }                  
                  }
   
                  .student-bank-amount{
                     font-size: 1.2em;
                  }
   
                  .student-info-link{
                     a{
                        font-size: 0.8em;
                     }
                  }
               }
            }
         }
      }
   }

   // Student Details
   .student-detail-main-wrapper{   
      .student-detail-wrapper{
         padding-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .image{
            text-align: center;
   
            img{
               width: 200x;
               height: 200px;
            }
         }
   
         .details{
            .student-name{
               font-size: 1.2em;
            }
   
            .bank-total{
               font-size: 1.2em;
            }
   
            .parents-info{
               margin-top: 10px;
            }
            
         }
      }
   }





  
}