@media screen and (max-width: 900px){

   // Home page
   .home-main-wrapper{
      .navbar{
         .left-column{
            img{
               margin-left: 10px;  
               height: 50px;
               width: 78px;             
            }
         }

         .right-column{
            width: 160px;
            a{
               font-size: 0.8em;
   
               .sign-up{
                  width: 45px;
                  margin-right: 10px;                  
                  padding: 0px 8px;   
               }
            }
         }
      }

      .content{   
         .logo{
            img{
               width: 380px;
               height: 250px;
            }
         }
      }
   }

   // Login
   .login-main-wrapper{
      .login-form-center{
         width: 100vw;
         height: calc(100vh - 150px);

         .login-container{
            height: 430px;
            width: 355px;

            .logo{
               margin-top: 10px;
   
               img{        
                  height: 90px;
                  width: 150px;
               }
            }     
            
            .title{
               font-size: 1.2em;
            }

            .login-form{   
               text-align: center;
               padding: 15px 2px;   
               
               .form-group{
                  .inputs{       
                     svg{
                        font-size: 1.4em;
                    }
         
                    input{
                       width: 280px;
                       height: 30px;            
                    }
                  }
               }

               .btn{                  
                  padding: 8px 100px;
               }
            }   
            
            .sign-up{               
               margin-top: 70px;

               a{
                  font-size: 0.8em;
               }
            }
         }
      }
   }

   // Sign up
   .signup-main-wrapper{  
      .have-an-account{  
         .login-button{
            margin-left: 10px;
            background-color: $magenta-crayola;
            padding: 2px 7px;
            border-radius: 5px;
            color: whitesmoke;
            transition: 0.3s ease-in-out;
   
            &:hover{
               background-color: $amethyst;            
            }         
         }
      }

      .signup-form-wrapper{
         margin-top: 40px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .left-side{
            .logo{
               img{        
                  height: 120px;
                  width: 200px;
               }
            }
         }
   
         .right-side{
            .signup-form{
               display: flex;
               flex-direction: column;
               align-items: left;
   
               .new-entry-input {
                  width: 400px;
                  margin-bottom: 15px;
                  font-size: 1em;
                  border: 1px solid $amethyst;
                  padding: 10px 15px;
                  border-radius: 5px;
                }
      
               .add-button{
                  width: 438px;
                  color: whitesmoke;
                  background-color:  $magenta-crayola;
                  border: 1px solid $magenta-crayola;
                  border-radius: 5px;
                  font-size: 1.2em;
                  margin-top: 25px;
                  padding: 8px 10px;
                  outline: none;
                  transition: 0.3s ease-in-out;
      
                  &:hover{
                     cursor: pointer;
                     background-color: $amethyst;
                     border: 1px solid $amethyst;
                     outline: none;
                  }
               }
            }
         }
      }
   }

   // Navigation bar
   .nav-wrapper{
      flex-direction: column;
      height: 100%;

      .left-column{
         a{
            img{
                margin-left: 0px;
            }
         }  
      }

      .center-column{
         flex-direction: column;
   
         .nav-link-wrapper{
            padding-right: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
   
            a{
               
               font-size: 1.3em;
            }
         }
      }

      .right-column{
         margin-top: 15px;
         margin-right: 0px;
         width: 100%;
         font-size: 1.3em;

         .grade{
            margin-right: 0px;
         }     
   
         .username{
            margin-right: 0px;
         }
   
         .logout-icon{
            font-size: 1.5em;
         }
      }
   }

   // Teachers Container
   .grade-groups-main-wrapper{
      .teacher-info{
         padding: 10px 0px;

         p{
            font-size: 1.2em;
         }
      }
   }

   // Students container
   .students-home-wrapper{
      .students-main-wrapper{
         .group-name-title{
            text-align: center;
            background-color: #ebf0ee;
            font-size: 1.3em;
            color: $magenta-crayola;
            height: 50px;
            padding: 1px 0px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
         }

         .students-items-wrapper{
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;

            .students-item-wrapper{
               .student-image{
                  img{
                     width: 100px;
                     height: 100px;
                  }
               }
            }
         }
      }
   }

   // Student Details
   .student-detail-main-wrapper{   
      .student-detail-wrapper{
         padding-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .image{
            text-align: center;
   
            img{
               width: 200x;
               height: 200px;
            }
         }
   
         .details{
            .student-name{
               font-size: 1.2em;
            }
   
            .bank-total{
               font-size: 1.2em;
            }
   
            .parents-info{
               margin-top: 10px;
            }
            
         }
      }
   }





  
}