@media screen and (min-width: 616px) and (max-width: 1024px){

   // Home page
   .home-main-wrapper{
      .navbar{
         height: 47px;

         .left-column{
            img{
               margin-left: 10px;  
               height: 55px;
               width: 80px;             
            }
         }

         .right-column{
            width: 180px;

            .auth{
               a{
                  
                  font-size: 1em;                  
               }
            }

            .or{
               font-size: 0.9em;
            }

            a{
               font-size: 0.8em;
               text-align: center;
   
               .sign-up{
                  width: 80px;
                  margin-right: 10px;                  
                  padding: 4px 6px;   
               }
            }
         }
      }      
   }

   // Login
   .login-main-wrapper{
      .login-form-center{
         width: 100vw;
         height: calc(100vh - 200px);

         .login-container{
            height: 440px;
            width: 355px;

            .logo{
               margin-top: 10px;
   
               img{        
                  height: 90px;
                  width: 150px;
               }
            }     
            
            .title{
               font-size: 1.1em;
               width: 300px;
            }

            .message{       
               width: 500px;        
               margin-top: 168px; 
               font-size: 0.9em;              
            }

            .login-form{  
               .form-group{
                  label{
                     font-size: 0.8em;
                  }

                  input{
                     width: 280px;
                     height: 30px;            
                  }
                  
                  .error-message{       
                     font-size: 0.9em;
                  }                  
               }

               .btn{                  
                  padding: 8px 70px;
                  font-size: 1em;
               }
            }   
            
            .sign-up{               
               margin-top: 45px;

               a{
                  font-size: 0.8em;
               }
            }
         }
      }
   }

   // Sign up
   .signup-main-wrapper{  
      .have-an-account{  
         padding: 4px 0px;

         .title{
            width: 180px;

            p{
               width: 180px;
               margin: 0px;
               font-size: 0.9em;
            }
         }

         a{
            text-align: center;

            .login-button{
               width: 57px;
               margin-left: 0px;
               padding: 3px 10px;
               font-size: 0.9em;
            }
         }
      }

      .signup-form-wrapper{   
         .left-side{
            .image{
               img{        
                  width: 500px;
                  height: 700px;
               }
            }
         } 
         
         .right-side{
            .signup-form{
               .form-group{
                  label{
                     font-size: 0.9em;
                  }

                  .new-entry-input {
                     width: 390px;
                     font-size: 0.9em;
                     margin-bottom: 7px;
                  }

                  .new-entry-select {
                     width: 425px;
                     font-size: 0.9em;
                     margin-bottom: 7px;
                  }

                  .error-message{       
                     font-size: 0.9em;
                  }  
               }

               .add-button{
                  width: 365px;
               }
            }
         }
      }
   }

   // Navigation bar
   .nav-wrapper{
      height: 47px;

      .left-column{
         img{
            margin-left: 10px;
            width: 80px; 
            height: 55px;
         }         
      }

      .center-column{   
         .nav-link-wrapper{   
            a{
               
               font-size: 1.1em;
            }
         }
      }

      .right-column{
         font-size: 0.8em;

         .grade{
            text-align: right;
            width: 150px;
            margin-right: 10px;
         }   
         
         .separator{
            display: none;
         }
   
         .username{
            text-align: right;
            width: 150px;
            margin-right: 10px;
         }
   
         .logout-icon{
            font-size: 1.8em;
         }
      }
   }

   // Teachers Container
   .grade-groups-main-wrapper{
      .teacher-info-add-group{
         height: 30px;
         padding: 5px 0px;

         .title{
            margin-top: 10px;
      
            p{
               font-size: 1.1em;
            }
         }     
         
         .add-class{       
             p{     
                width: 150px;
                font-size: 1.1em;
                text-align: right; 
             }
    
             svg{
                font-size: 1.8em;
             }
          }
      }

      .message-no-groups{   
         p{
            font-size: 1em;
         }
      }
   }

   // Teachers Items
   .grades-groups-item-wrapper{   
      padding: 3px 170px;

      .grades-groups-links-wrapper{  
         margin-bottom: 5px;    

         a{  
            font-size: 1.2em; 
         }

         .icons-buttons{            
            svg{
               font-size: 3.5em;
            }            
         }
      }
   }

   // Students container, Student Items
   .students-home-wrapper{
      .students-main-wrapper{
         .group-name-title{
            height: 32px;

            .add-student{   
               margin-left: 10px;     

               a{ 
                  svg{
                     margin-right: 3px;
                     font-size: 1.3em;
                  }
               }

               p{
                  width: 85px;
                  font-size: 0.9em;
               }
            }

            .group-name{
               font-size: 1em;
            }

            .total-students{
               .total{
                  p{
                     font-size: 0.8em;
                  }
               }

               .total-boys{
                  p{
                     font-size: 0.8em;
                  }
               }

               .total-girls{
                  p{
                     font-size: 0.8em;
                  }
               }
            }

            .filter-buttons{
               margin-right: 10px;

               p{
                  font-size: 0.8em;
               }
            }
         }

         .students-items-wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5px;

            .students-item-wrapper{
               .student-image{
                  img{
                     width: 100px;
                     height: 100px;
                  }
               }

               .students-info-wrapper{            
                  .student-name{
                     p{
                        font-size: 0.8em;
                     }                  
                  }
   
                  .student-bank-amount{
                     font-size: 1em;
                  }
   
                  .student-info-link{
                     a{
                        font-size: 0.8em;
                     }
                  }
               }
            }
         }

         .message-no-students{
            p{
               font-size: 1em;
            }
         }
      }
   }

   // Student Details
   .student-detail-main-wrapper{   
      .student-info{
         .edit-delete{
            height: 35px;
      
            .icon-edit{
               p{
                  font-size: 0.9em;

                  svg{
                     font-size: 1.2em;
                  }
               }
            }
      
            .icon-delete{
               p{
                  font-size: 0.9em;

                  svg{
                     font-size: 1.2em;
                  }
               }
            }
         }

         .student-detail-wrapper{
            justify-content: center;
            padding-top: 20px;            
      
            .image{
               text-align: center;

               p{
                  font-size: 1.2em;
               }
      
               img{
                  margin-left: 20px;
                  width: 280x;
                  height: 370px;
               }
            }
      
            .details{   
               .title{
                  font-size: 1.2em;
               }
   
               .name{
                  .first-name{
                     label{
                        font-size: 0.9em;
                     }

                     p{
                        font-size: 1.3em;
                     }
                  }

                  .last-name{
                     label{
                        font-size: 0.9em;
                     }

                     p{
                        font-size: 1.3em;
                     }
                  }                  
               }

               .gender{
                  label{              
                     font-size: 0.9em;
                  }
      
                  p{
                     font-size: 1.3em;
                  }
               }
      
               .grade-group{ 
                  p{
                     width: 300px;
                     font-size: 1.3em;
                  }
               }
      
               .bank-total{
                  p{
                     font-size: 1.3em;
                  }
               }     
            }
         }
      }      
   }

   // Add Student
   .add-student-main-wrapper{  
      .grade-group{         
         padding: 4px 0px;
   
         p{
            font-size: 1.1em;
         }
      }
       
      .add-student-form{
         margin-top: 5px;

         .title{
            margin-left: 50px;
         }
   
         .student-info{
            grid-template-columns: 1fr;
      
            .text-inputs{
               display: flex;
               flex-direction: column;
   
               label{
                  margin-left: 30px;
                  color: $capri;
               }
   
               .new-entry-input {
                  width: 330px;
                  font-size: 0.8em;
                  margin-bottom: 7px;
                  margin-left: 30px;
                }

               .new-entry-select{
                  width: 365px;
                  font-size: 0.8em;
               }
            }

            .radio-inputs{               
               .radios{
                  margin-left: 50px;
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  
                  .left-side{
                     .radio{
                        label {
                           padding: 6px 35px;
                           font-size: 1.1em;
                        }
                     }
                  }
   
                  .right-side{
                     .radio{
                        label {
                           padding: 6px 35px;
                           font-size: 1.1em;
                        }
                     }
                  }
               }
            }
         }

         .btn-message{   
            margin-bottom: 30px;

            .message{            
               p{
                  font-size: 1em;
               }
            }

            .add-button{
               width: 250px;
               margin-top: 45px;
            }
         }
      }
   } 
}



// -----------------------------------------------------------------------------------------------------------------
@media screen and (max-width: 615px){

   // Home page
   .home-main-wrapper{
      .navbar{
         .left-column{
            img{
               margin-left: 10px;  
               height: 50px;
               width: 78px;             
            }
         }

         .right-column{
            width: 160px;
            a{
               font-size: 0.8em;
   
               .sign-up{
                  width: 52px;
                  margin-right: 10px;                  
                  padding: 0px 8px;   
               }
            }
         }
      }      
   }

   // Login
   .login-main-wrapper{
      .login-form-center{
         width: 100vw;
         height: calc(100vh - 200px);

         .login-container{
            height: 430px;
            width: 355px;

            .logo{
               margin-top: 10px;
   
               img{        
                  height: 90px;
                  width: 150px;
               }
            }     
            
            .title{
               font-size: 0.9em;
               width: 270px;
            }

            .message{       
               width: 500px;        
               margin-top: 168px; 
               font-size: 0.8em;              
            }

            .login-form{  
               .form-group{
                  label{
                     font-size: 0.9em;
                  }
         
                  input{
                     width: 280px;
                     height: 30px;            
                  }   
                  
                  .error-message{       
                     font-size: 0.9em;
                  }
               }

               .btn{                  
                  padding: 8px 70px;
                  font-size: 1em;
               }
            }   
            
            .sign-up{               
               margin-top: 35px;

               a{
                  font-size: 1em;
               }
            }
         }
      }
   }

   // Sign up
   .signup-main-wrapper{  
      .have-an-account{  
         .title{
            width: 160px;
            p{
               font-size: 0.8em;
            }
         }

         .login-button{
            margin-left: 0px;
            padding: 2px 7px;
            font-size: 0.9em;
         }
      }

      .signup-form-wrapper{
         margin-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .left-side{
            .logo{
               img{        
                  height: 120px;
                  width: 200px;
               }
            }
         } 
         
         .right-side{
            .signup-form{
               .form-group{
                  label{
                     font-size: 0.9em;
                  }

                  .new-entry-input {
                     width: 310px;
                     font-size: 0.8em;
                     margin-bottom: 7px;
                  }

                  .error-message{       
                     font-size: 0.9em;
                  }
               }

               .add-button{
                  width: 365px;
               }
            }
         }
      }
   }

   // Navigation bar
   .nav-wrapper{
      flex-direction: column;
      height: 100%;

      .left-column{
         a{
            img{
                margin-left: 0px;
            }
         }  
      }

      .center-column{   
         .nav-link-wrapper{
            padding-right: 20px;
            margin-top: 5px;
            margin-bottom: 3px;
   
            a{
               
               font-size: 1em;
            }
         }
      }

      .right-column{
         margin-top: 6px;
         margin-right: 0px;
         width: 100%;
         font-size: 0.8em;

         .grade{
            width: 150px;
            margin-right: 0px;
         }     
   
         .username{
            width: 200px;
            margin-right: 0px;
         }
   
         .logout-icon{
            font-size: 1.8em;
         }
      }
   }

   // Teachers Container
   .grade-groups-main-wrapper{
      .teacher-info{
         justify-content: space-around;
         padding: 5px 0px;

         .teacher-name{
            width: 200px;
            font-size: 0.8em;
            margin-left: 30px;
         }

         .grade{
            width: 200px;
            font-size: 0.8em;
         }
      }

      .title{
         margin-top: 10px;
   
         p{
            font-size: 1.5em;
         }
      }
   }

   // Teachers Items
   .grades-groups-item-wrapper{   
      .grades-groups-links-wrapper{  
         margin-bottom: 5px;    

         a{  
            font-size: 2em; 
         }
      }
   }

   // Students container, Student Items
   .students-home-wrapper{
      .students-main-wrapper{
         .group-name-title{
            p{
               font-size: 0.8em;
            }

            .filter-buttons{
               p{
                  font-size: 0.7em;
               }

               button{
                  font-size: 0.7em;
                  padding: 3px 4px;
               }

               .clear-filter{
                  font-size: 0.7em;
                  padding: 3px 5px;
               }
            }
         }

         .students-items-wrapper{
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;

            .students-item-wrapper{
               .student-image{
                  img{
                     width: 100px;
                     height: 100px;
                  }
               }

               .students-info-wrapper{            
                  .student-name{
                     p{
                        font-size: 0.8em;
                     }                  
                  }
   
                  .student-bank-amount{
                     font-size: 1em;
                  }
   
                  .student-info-link{
                     a{
                        font-size: 0.8em;
                     }
                  }
               }
            }
         }
      }
   }

   // Student Details
   .student-detail-main-wrapper{   
      .student-detail-wrapper{
         padding-top: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         .image{
            text-align: center;
   
            img{
               width: 180x;
               height: 100px;
            }
         }
   
         .details{
            .student-name{
               font-size: 1em;
            }
   
            .bank-total{
               font-size: 1em;
            }
   
            .parents-info{
               margin-top: 10px;
            }
            
         }
      }
   }

   // Add Student
   .add-student-main-wrapper{   
      .add-student-form{
         margin-top: 5px;

         .title{
            margin-left: 50px;
         }
   
         .student-info{
            grid-template-columns: 1fr;
      
            .text-inputs{
               display: flex;
               flex-direction: column;
   
               label{
                  margin-left: 30px;
                  color: $capri;
               }
   
               .new-entry-input {
                  width: 330px;
                  font-size: 0.8em;
                  margin-bottom: 7px;
                  margin-left: 30px;
                }
            }

            .radio-inputs{    
               .radios{
                  margin-left: 50px;
                  display: grid;
                  grid-template-columns: 1fr 1fr;

                  .left-side{
                     .radio{
                        label {
                           padding: 5px 30px;
                           font-size: 1em;
                        }
                     }
                  }
   
                  .right-side{
                     .radio{
                        label {
                           padding: 5px 30px;
                           font-size: 1em;
                        }
                     }
                  }
               }
            }
         }

         .btn-message{   
            margin-bottom: 50px;

            .message{            
               p{
                  font-size: 1em;
               }
            }

            .add-button{
               width: 250px;
               margin-top: 45px;
            }
         }
      }
   }  

   // Student Profile Image
   .profiles-images-wrapper{
      .profiles-images-items{
         grid-template-columns: 1fr 1fr;
      
         .images{      
            .image{         
               img{
                  width: 50px;
                  height: 50px;
                  margin-bottom: 10px;
               }
            }
         }
      }
   }
}