.nav-wrapper{  
   background-color: #00f5d4;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .left-column{
      img{
         margin-left: 50px;
         height: 60px;
         width: 110px;
      }
   }

   .center-column{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-link-wrapper{
         padding-right: 50px;

         a{
            text-decoration: none;
            font-size: 1.5em;
            color: $amethyst;
            transition: 0.3s ease-in-out;

            &:hover{
               color: $magenta-crayola;
            }
         }
      }
   }

   .right-column{
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2em;

      .grade{
         margin-right: 15px;
         color: #148d9d;
      }    
      
      .separator{
         margin-right: 15px;
         font-size: 1.3em;
         color: #148d9d;
      }

      .username{
         margin-right: 20px;
         color: #148d9d;
      }

      .logout-icon{
         font-size: 1.6em;
         transition: 0.3s ease-in-out;
         color: $magenta-crayola;
         
         &:hover{
            color: $amethyst;
            cursor: pointer;
         }
      }
   }
}