.class-form-main-wrapper{
   .title{
      background-color: #545454;
      text-align: center;

      p{
         font-size: 1.5em;
         color: $capri;
      }
   }

   .class-form{
      .form-group{
         display: flex;
         flex-direction: column;
         text-align: left;

         label{
            margin-top: 10px;
            color: $amethyst;
            font-size: 1em;
         }

         input{
            width: 370px;
            height: 30px;
            padding: 6px 15px;
            font-size: 1em;
            border-radius: 5px;
            border: 1px solid $amethyst; 
         }               

         .error-message{  
            margin-top: 80px;  
            position: absolute;   
            font-size: 0.9em;
            color: #d83113;
         }
      }

      .buttons-form{
         display: flex;
         justify-content: space-around;
         align-items: center;
         margin-top: 60px;         
         
         button{
            background-color: $magenta-crayola;
            border: 1px solid $magenta-crayola;
            border-radius: 5px;
            padding: 6px 50px;
            font-size: 1.2em;    
            color: whitesmoke;     
            transition: all 0.3s ease-in-out;
            outline: none;
   
            &:hover{
               cursor: pointer;
               background-color: $amethyst;
               border: 1px solid $amethyst;
               outline: none;
            }    
         }
      }
   }
}