.profiles-images-wrapper{
   .profiles-images-items{
      
      .images{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 5px;
         text-align: center;
         
         .image{
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);  
            transition: 0.3s ease-in-out;

            .image-name{
               color: $magenta-crayola;
            }
      
            .img{         
               img{
                  width: 70px;
                  height: 70px;
                  margin-bottom: 20px;               
               }
            }
   
            &:hover{       
               cursor: pointer;              
            } 
         }

      }
   }
}