.student-detail-main-wrapper{   
   .student-info{
      .edit-delete{
         height: 45px;
         background-color: #ebf0ee;
         padding: 0px 30px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
   
         .icon-edit{
            p{
               margin: 0px;
               font-size: 1em;
               color: $capri;
   
               svg{
                  color: $capri;
                  font-size: 1.5em;
                  transition: 0.3s ease-in-out;
         
                  &:hover{
                     cursor: pointer;
                     color: $amethyst;
                  }
               }
            }
         }
   
         .icon-delete{
            p{
               margin: 0px;
               font-size: 1em;
               color: #dd0e0e;
   
               svg{
                  color: #dd0e0e;
                  font-size: 1.5em;
                  transition: 0.3s ease-in-out;
         
                  &:hover{
                     cursor: pointer;
                     color: #8f0d0d;
                  }
               }
            }
         }
      }
   
      .student-detail-wrapper{
         padding-top: 40px;
         display: flex;
         justify-content: center;
         align-items: center;
   
         .image{
            text-align: center;
   
            p{
               font-size: 1.5em;
               color: $magenta-crayola;
            }
   
            img{
               width: 380x;
               height: 470px;
               border-radius: 5px;
            }
         }
   
         .details{
            margin-left: 100px;

            .title{
               font-size: 1.5em;
               color: $magenta-crayola;
            }

            .name{
               display: flex;
               justify-content: left;
               align-items: center;

               .first-name{
                  margin-right: 40px;

                  label{
                     margin: 40px 0px 0px 0px;
                     font-size: 1em;
                     color: $magenta-crayola
                  }
      
                  p{
                     margin: 0px 0px 15px 0px;
                     font-size: 1.8em;
                     color: $amethyst;
                  }
               }
      
               .last-name{
                  label{              
                     font-size: 1em;
                     color: $magenta-crayola
                  }
      
                  p{
                     margin: 0px 0px 15px 0px;
                     font-size: 1.8em;
                     color: $amethyst;
                  }
               }
            }

            .gender{
               label{              
                  font-size: 1em;
                  color: $magenta-crayola
               }
   
               p{
                  margin: 0px 0px 15px 0px;
                  font-size: 1.8em;
                  color: $amethyst;
               }
            }

            .grade-group{
               margin: 40px 0px 0px 0px;
   
               p{
                  margin: 5px 0px;
                  font-size: 1.5em;
                  color: $capri;
                  margin-right: 30px;
               }
            }
   
            .bank-total{
               p{
                  margin: 20px 0px 40px 0px;
                  font-size: 1.6em;
                  color: $capri;
               }
            }  
         }
      }
   }

   .message{
      text-align: center;

      p{
         color: $magenta-crayola;
         font-size: 1.5em;
      }
   }
}