.student-detail-main-wrapper{   
   .edit-delete{
      background-color: #ebf0ee;
      padding: 8px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

      .icon-edit{
         margin-right: 15px;
         svg{
            color: $capri;
            font-size: 1.5em;
            transition: 0.3s ease-in-out;
   
            &:hover{
               cursor: pointer;
               color: $amethyst;
            }
         }
      }

      .icon-delete{
         svg{
            color: #dd0e0e;
            font-size: 1.5em;
            transition: 0.3s ease-in-out;
   
            &:hover{
               cursor: pointer;
               color: #8f0d0d;
            }
         }
      }
   }
   .student-detail-wrapper{
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .image{
         text-align: center;

         img{
            width: 380x;
            height: 470px;
            border-radius: 5px;
         }
      }

      .details{
         .student-name{
            font-size: 2em;
         }

         .bank-total{
            font-size: 1.6em;
         }

         .parents-info{
            margin-top: 40px;
         }
         
      }
   }
}