.grade-groups-main-wrapper{  

   .teacher-info{
      background-color: #ebf0ee;
      padding: 5px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

      p{
         font-size: 1.5em;
         color: $capri;
         padding: 0px 15px;
      }
   }

   .add-movie{
      text-align: right;
      margin-right: 20px;         

      p{         
         font-size: 1.5em;
         color: $capri;
         
         svg{
            color: $magenta-crayola;
            font-size: 1.8em;
            transition: 0.3s ease-in-out;

            &:hover{
               cursor: pointer;
               color: $amethyst;
            }
         }
      }
   }

   .title{
      text-align: center;

      p{
         font-size: 2em;
         color: $amethyst;
      }
   }
}